{% extends 'org_base.html' %}
{% load staticfiles %}

<title>{% block title %}机构描述页--新东方{% endblock %}</title>
{% block page_path %}机构描述{% endblock %}

{% block right_form %}
    <div class="right companycenter layout">
    <div class="head">
        <h1>机构介绍</h1>
        <a class="green fr more" href="org-detail-desc.html">查看更多 > </a>
    </div>
    <div class="cont">&nbsp; &nbsp; <p>{{ course_org.desc }}</p>
        <h1 class="ue_t" label="Title center" name="tc"
            style="border-bottom-color:#cccccc;border-bottom-width:2px;border-bottom-style:solid;padding:0px 4px 0px 0px;text-align:center;margin:0px 0px 20px;"><span
                style="color:#c0504d;">
    </div>
{% endblock %}


